<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app-redesign.css">
    <title>Neighborhood Map</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="container">
        <div id="central-pane">
            <div id="list-view">
                <div class="list-item" v-for="location in locations" v-if="location.selectedByUser" v-on:click="listItemClick(location)">
                        <img class="logo-co" :src="'https://logo.clearbit.com/' + location.title.toLowerCase() + '.com?size=70'" alt="" style="border-radius: 6px;"> {{ location.title }}
                        <div class="desc" v-show="!location.descriptionIsHidden">{{ location.description }}</div>
                </div>
            </div>
            <div id="map-container">
                <div id="map"></div>
            </div>
        </div>
        <div id="centre">
            <select v-model="selection" v-on:change="updateSelection">
                <option v-for="option in options" v-bind:value="option">{{ option }}</option>
            </select>
        </div>
    </div>


    <script src="app.1.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbPtfUYSFaelDIZQB1GeAHqbOrYltGF8A&v=3&callback=app.initMap" onerror="app.mapsAPIError()"></script>
    <!-- <script async defer src="https://api.foursquare.com/v2/venues/search?ll=52.367356,4.907849&oauth_token=RYNU2MDYQALBFD2L0V2YMU2SJAPZ2JOQRPPH2SH0DNKGEKJL&v=20180718&callback=app.initFoursquare" onerror="app.foursquareAPIError()"></script> -->

</body>

</html>
