<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app.css">
    <title>Neighborhood Map</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="container">
        <div class="options-box">
            <h1>Find Your New {{ city }} Home </h1>
            <div>
                <button id="show-listings" v-on:click="showListings">Show Listings</button>
                <button id="hide-listings" v-on:click="hideListings">Hide Listings</button>

                <select v-model="selected">
                    <option disabled value="">Please select one</option>
                    <option value="North">North</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                 </select>
                 Selected: {{selected}}
                <ul>
                     <li v-for="location in locations">
                         {{ location.title }}
                     </li>
                </ul>
            </div>
        </div>
        <div id="map"></div>
    </div>


    <script src="app.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbPtfUYSFaelDIZQB1GeAHqbOrYltGF8A&v=3&callback=initMap">
    </script>

</body>

</html>
